<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= location.name %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <h1><%= location.name %></h1>
  </header>

  <main>
    <div id="location-image">
      <img src="<%= location.image_url %>" alt="<%= location.name %>">
    </div>
    <div id="location-details">
      <p><%= location.description %></p>
     
